<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    
    <div class="header-m">商品详情</div>

    <a href="#/tab/cart">
        <img class="header-r" src="img/sort/good-cart@2x.png">
    </a>
</ion-header-bar>

<ion-content>
    <div class="swiper-container goods-detail-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/home/swiper.png" alt=""></div>
        </div>
    </div>

    <div class="goods-detail-nav">
        <div class="row container">
            <div class="col-75 color333" style="font-size:15px;">商品名称：汽车车载空气净化器</div>
            <div class="col-25 txt-r color999" style="font-size:12px;">库存：500件</div>
        </div>
        <div class="row container">
            <div class="col-75 theme-red-color" style="font-size:18px;">300积分</div>
            <div class="col-25 txt-r">
                <span class="goods-collection-icon"></span>
                <span class="goods-share-icon"></span>
            </div>
        </div>
    </div>

    <div class="goods-info">
        <ul class="goods-info-nav color333 clearfix" style="font-size: 15px;">
            <li class="pull-left">商品详情</li>
            <li class="pull-left active">规格参数</li>
        </ul>

        <div class="goods-info-content container color666">
            <div class="row">
                <div class="col-60">商品名称：汽车车载空气净化器</div>
                <div class="col-40">商品产地：中国大陆</div>
            </div>
            <div class="row">
                <div class="col-60">商品类别：汽保用品</div>
                <div class="col-40">商品编号：10697299125</div>
            </div>
            <div class="row">
                <div class="col-60">商品库存：300件</div>
                <div class="col-40 theme-red-color">商品货号：通用净化器</div>
            </div>
            <div class="row">
                <div class="col-60">风量/风速：11-20立方米/h</div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer-bar>
    <div class="row">
        <div class="col-50">
            <a class="btn-full colorfff bg-light-green" href="#/tab/cart">加入购物车</a>
        </div>
        <div class="col-50">
            <a class="btn-full colorfff themebgcolor" href="#/orderCreate">立即购买</a>
        </div>
    </div>
</ion-footer-bar>