<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    
    <div class="header-m">秒杀活动</div>

    <a href="#/tab/cart">
        <img class="header-r" src="img/sort/good-cart@2x.png">
    </a>
</ion-header-bar>

<ion-content>
    <div class="seckill-nav">
        <div class="swiper-container seckill-nav-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="1">
                    <div>9:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="2">
                    <div>10:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor seckill-time-select-active" data-history="3">
                    <div>11:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="4">
                    <div>12:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="5">
                    <div>13:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="6">
                    <div>14:00</div>
                    <div>已开抢</div>
                </div>
                <div class="swiper-slide seckill-time-select txt-m themecolor" data-history="7">
                    <div>15:00</div>
                    <div>已开抢</div>
                </div>
            </div>
        </div>


        <div class="seckill-time-select-active-bg"></div>
    </div>


    <div class="row container seckill-nav-countdown">
        <div class="col-50">
            <img src="img/sort/time-limit-seckill@2x.png" alt="">
        </div>
        <div class="col-50 clearfix">
            <div class="pull-left themecolor seckill-nav-countdown-title">距本场开始</div>
            <div class="pull-left clearfix">
                <span class="time-block txt-m">0</span>
                <span class="time-block txt-m">0</span>
                <span class="themecolor">:</span>
                <span class="time-block txt-m">5</span>
                <span class="time-block txt-m">5</span>
                <span class=" themecolor">:</span>
                <span class="time-block txt-m">2</span>
                <span class="time-block txt-m">2</span>
            </div>
        </div>
    </div>

    <div class="seckill-item container clearfix">
        <div class="seckill-item-l pull-left">
            <img src="img/sort/seckill-goods@2x.png" alt="">
        </div>
        <div class="seckill-item-r pull-left">
            <div class="themecolor singleLine-ellipsis seckill-item-r-title">雅阁思域奥德赛思铂睿CRV哈哈哈哈哈哈哈哈</div>
            <div>
                <span class="new-integration">500积分</span><span class="old-integration">1000积分</span><span style="font-size:12px;color:#f00;">仅剩：20个</span>
            </div>
            <a href="#/seckillDetail"><div class="btn-fight themebgcolor">即将开抢</div></a>
        </div>
    </div>

   <div class="seckill-item container clearfix">
        <div class="seckill-item-l pull-left">
            <img src="img/sort/seckill-goods@2x.png" alt="">
        </div>
        <div class="seckill-item-r pull-left">
            <div class="themecolor singleLine-ellipsis seckill-item-r-title">雅阁思域奥德赛思铂睿CRV哈哈哈哈哈哈哈哈</div>
            <div>
                <span class="new-integration">500积分</span><span class="old-integration">1000积分</span><span style="font-size:12px;color:#f00;">仅剩：20个</span>
            </div>
            <a href="#/seckillDetail"><div class="btn-fight themebgcolor">即将开抢</div></a>
        </div>
    </div>

    <div class="seckill-item container clearfix">
        <div class="seckill-item-l pull-left">
            <img src="img/sort/seckill-goods@2x.png" alt="">
        </div>
        <div class="seckill-item-r pull-left">
            <div class="themecolor singleLine-ellipsis seckill-item-r-title">雅阁思域奥德赛思铂睿CRV哈哈哈哈哈哈哈哈</div>
            <div>
                <span class="new-integration">500积分</span><span class="old-integration">1000积分</span><span style="font-size:12px;color:#f00;">仅剩：20个</span>
            </div>
            <a href="#/seckillDetail"><div class="btn-fight themebgcolor">即将开抢</div></a>
        </div>
    </div>

    <div class="seckill-item container clearfix">
        <div class="seckill-item-l pull-left">
            <img src="img/sort/seckill-goods@2x.png" alt="">
        </div>
        <div class="seckill-item-r pull-left">
            <div class="themecolor singleLine-ellipsis seckill-item-r-title">雅阁思域奥德赛思铂睿CRV哈哈哈哈哈哈哈哈</div>
            <div>
                <span class="new-integration">500积分</span><span class="old-integration">1000积分</span><span style="font-size:12px;color:#f00;">仅剩：20个</span>
            </div>
            <a href="#/seckillDetail"><div class="btn-fight themebgcolor">即将开抢</div></a>
        </div>
    </div>

</ion-content>