<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <div class="search-wrapper">
        <input type="text" class="search-input">
        <i class="search-icon"></i>
    </div>

    <a href="#/message">
        <img class="header-r" src="img/home/message@2x.png">
    </a>
</ion-header-bar>

<ion-content>
    <!-- <sort-nav></sort-nav> -->



    <div class="row sort-nav">
        <div class="col-80 sort-nav-l">
            <span class="sort-nav-title themecolor" ng-click="sortAll()">全部分类</span>
        </div>
        <div class="col-20 sort-nav-r" ng-click="action()">
            <img src="img/sort/promotion-icon@2x.png">
        </div>
    </div>

    <div class="shadow-mask-modal-wrapper" style="display:none;">
        <div class="shadow-mask-modal clearfix">
            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">博世产品</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">汽保用品</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">随车产品</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">POS物料</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">终端支持</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">品牌推广</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">博世培训</div>
            </div>

            <div class="col-33 pull-left">
                <div class="">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="themecolor">促销专区</div>
            </div>
        </div>
    </div>

    



    <div class="row container search-result-item">
        <div class="col-25 search-result-l">
            <a href="#/goodsDetail"><img class="search-result-img" src="img/home/home-gifts-1@2x.png" alt=""></a>
        </div>
        <div class="col-75 search-result-txt">
            <h1 class="search-result-title">某某品牌汽车滤清器</h1>
            <div class="search-result-introduction color999">产品介绍语产品亮点关键词什么之类的</div>
            <div class="clearfix">
                <div class="search-result-integration pull-left">
                    <span class="search-result-newintegration">500积分</span>
                    <span class="search-result-oldintegration">1000积分</span>
                </div>
                <div class="search-result-inventory color999 pull-right">库存：200</div>
            </div>
        </div>
    </div>

    <div class="row container search-result-item">
        <div class="col-25 search-result-l">
            <img class="search-result-img" src="img/home/home-gifts-1@2x.png" alt="">
        </div>
        <div class="col-75 search-result-txt">
            <h1 class="search-result-title">某某品牌汽车滤清器</h1>
            <div class="search-result-introduction color999">产品介绍语产品亮点关键词什么之类的</div>
            <div class="clearfix">
                <div class="search-result-integration pull-left">
                    <span class="search-result-newintegration">500积分</span>
                    <span class="search-result-oldintegration">1000积分</span>
                </div>
                <div class="search-result-inventory color999 pull-right">库存：200</div>
            </div>
        </div>
    </div>

    <div class="row container search-result-item">
        <div class="col-25 search-result-l">
            <img class="search-result-img" src="img/home/home-gifts-1@2x.png" alt="">
        </div>
        <div class="col-75 search-result-txt">
            <h1 class="search-result-title">某某品牌汽车滤清器</h1>
            <div class="search-result-introduction color999">产品介绍语产品亮点关键词什么之类的</div>
            <div class="clearfix">
                <div class="search-result-integration pull-left">
                    <span class="search-result-newintegration">500积分</span>
                    <span class="search-result-oldintegration">1000积分</span>
                </div>
                <div class="search-result-inventory color999 pull-right">库存：200</div>
            </div>
        </div>
    </div>
</ion-content>