<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    <div class="header-m">卡券详情</div>
</ion-header-bar>

<ion-content>
    <div class="container message-coupon-detail">
        <div class="message-coupon-detail-time color999">2016-5-6</div>

        <div class="message-coupon-detail-content pull-left">
            <div class="themecolor">
                <div class="message-coupon-name">卡券名</div>
                <div class="message-coupon-expiry-date">有效期：2017-06-03——2017-09-24</div>
            </div>
            
        </div>
        <div class="message-coupon-detail-icon pull-left">
            <!-- <img src="img/home/coupon50.png" alt=""> -->
            <div class="message-coupon-detail-icon-inner">
                <p>￥<span class="coupon-num">50</span></p>
                <p>立即使用</p>
            </div>
        </div>
    </div>
</ion-content>