<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a><img class="home-red-packet" src="img/home/red-packet@2x.png"></a>
    
    <a href="#/tab/search">
        <div class="search-wrapper">
            <input type="text" readonly class="search-input">
            <i class="search-icon"></i>
        </div>
    </a>

    <a href="#/message">
        <img class="header-r" src="img/home/message@2x.png">
    </a>
</ion-header-bar>

<ion-content>
    <div class="swiper-container home-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="img/home/swiper.png" alt=""></div>
        </div>
    </div>

    <div class="row container home-nav bgfff">
        <div class="col-20 txt-m">
            <div class="row-img"><img src="img/home/parts-check@2x.png" alt=""></div>
            <div class="row-txt">配件查询</div>
        </div>
        <div class="col-20 txt-m">
            <div class="row-img"><img src="img/home/bosch-school@2x.png" alt=""></div>
            <div class="row-txt">博士学堂</div>
        </div>
        <div class="col-20 txt-m">
            <div class="row-img"><img src="img/home/goods-gifts@2x.png" alt=""></div>
            <div class="row-txt">商品礼品</div>
        </div>
        <div class="col-20 txt-m">
            <div class="row-img"><a href="#/seckill"><img src="img/home/bosch-school@2x.png" alt=""></a></div>
            <div class="row-txt">秒杀活动</div>
        </div>
        <div class="col-20 txt-m">
            <div class="row-img"><a href="#/signIn"><img src="img/home/bosch-school@2x.png" alt=""></a></div>
            <div class="row-txt">每日签到</div>
        </div>
    </div>

    <div class="notice container bgfff clearfix">
        <div class="pull-left">
            <span class="notice-l">公告发布</span>
        </div>
        <div class="pull-left notice-r">
            新用户首次登录奖励什么的<br/>
            这是未登录显示的广告语
        </div>
    </div>

    <div class="separation-row"></div>

    <div class="home-gifts row container bgfff clearfix">
        <div class="col-50 themecolor home-gifts-nav-l">礼品展示</div>
        <div class="col-50 txt-r home-gifts-nav-r">更多</div>
    </div>
    <div class="container bgfff clearfix">
        <div class="col-50 pull-left clearfix home-gifts-item">
            <div class="home-gifts-item-l pull-left">
                <div class="home-gifts-item-name">制动盘</div>
                <div class="home-gifts-item-txt themecolor">商品推荐亮点</div>
            </div>
            <div class="home-gifts-item-r pull-left">
                <img src="img/home/home-gifts-1@2x.png" alt="">
            </div>
        </div>

        <div class="col-50 pull-left clearfix home-gifts-item">
            <div class="home-gifts-item-l pull-left">
                <div class="home-gifts-item-name">制动盘</div>
                <div class="home-gifts-item-txt themecolor">商品推荐亮点</div>
            </div>
            <div class="home-gifts-item-r pull-left">
                <img src="img/home/home-gifts-1@2x.png" alt="">
            </div>
        </div>

        <div class="col-50 pull-left clearfix home-gifts-item">
            <div class="home-gifts-item-l pull-left">
                <div class="home-gifts-item-name">制动盘</div>
                <div class="home-gifts-item-txt themecolor">商品推荐亮点</div>
            </div>
            <div class="home-gifts-item-r pull-left">
                <img src="img/home/home-gifts-1@2x.png" alt="">
            </div>
        </div>

        <div class="col-50 pull-left clearfix home-gifts-item">
            <div class="home-gifts-item-l pull-left">
                <div class="home-gifts-item-name">制动盘</div>
                <div class="home-gifts-item-txt themecolor">商品推荐亮点</div>
            </div>
            <div class="home-gifts-item-r pull-left">
                <img src="img/home/home-gifts-1@2x.png" alt="">
            </div>
        </div>

    </div>

    <div class="gift-hot container clearfix">
        <div class="col-50 pull-left gift-hot-item">
            <div class="gift-hot-item-img">
                <img src="img/home/gift-hot.png">
            </div>
            <div class="gift-hot-item-txt">
                <div class="themecolor">某某品牌汽车滤清器</div>
                <div style="color:#e20015;">必买产品</div>
            </div>
        </div>

        <div class="col-50 pull-left gift-hot-item">
            <div class="gift-hot-item-img">
                <img src="img/home/gift-hot.png">
            </div>
            <div class="gift-hot-item-txt">
                <div class="themecolor">某某品牌汽车滤清器</div>
                <div style="color:#e20015;">必买产品</div>
            </div>
        </div>

        <div class="col-50 pull-left gift-hot-item">
            <div class="gift-hot-item-img">
                <img src="img/home/gift-hot.png">
            </div>
            <div class="gift-hot-item-txt">
                <div class="themecolor">某某品牌汽车滤清器</div>
                <div style="color:#e20015;">必买产品</div>
            </div>
        </div>

        <div class="col-50 pull-left gift-hot-item">
            <div class="gift-hot-item-img">
                <img src="img/home/gift-hot.png">
            </div>
            <div class="gift-hot-item-txt">
                <div class="themecolor">某某品牌汽车滤清器</div>
                <div style="color:#e20015;">必买产品</div>
            </div>
        </div>
        
    </div>

    <!-- 已登录 -->
    <div class="exchange-ranking">
        <div class="exchange-ranking-title">兑换排行</div>

        <div class="exchange-ranking-l pull-left bgfff">
            <div class="exchange-ranking-l-content">
                <div class="exchange-ranking-l-title"><img src="img/home/exchange-ranking1@2x.png" alt="">点火线圈</div>
                <div style="color:#db1d07;font-size:12px;">50积分</div>
                <div class="color999" style="font-size:12px;">100人兑换</div>

                <img class="exchange-ranking1-img" src="img/home/exchange-ranking11@2x.png" alt="">
            </div>
        </div>

        <div class="exchange-ranking-r pull-right">
            <div class="exchange-ranking-r-t bgfff">
                <div class="exchange-ranking-r-title"><img src="img/home/exchange-ranking2@2x.png" alt="">制动蹄</div>
                <div style="color:#db1d07;font-size:12px;">50积分</div>
                <div class="color999" style="font-size:12px;">90人兑换</div>

                <img class="exchange-ranking2-img" src="img/home/exchange-ranking22@2x.png" alt="">
            </div>
            <div class="exchange-ranking-r-b bgfff">
                <div class="exchange-ranking-r-title"><img src="img/home/exchange-ranking3@2x.png" alt="">滤清器</div>
                <div style="color:#db1d07;font-size:12px;">50积分</div>
                <div class="color999" style="font-size:12px;">90人兑换</div>

                <img class="exchange-ranking2-img" src="img/home/exchange-ranking33@2x.png" alt="">
            </div>
        </div>
    </div>

    <div class="sales-promotion">
        <div class="sales-promotion-title">促销活动</div>
        <div class="sales-promotion-item">
            <img src="img/home/sales-promotion@2x.png" alt="">
        </div>
        <div class="sales-promotion-item clearfix">
            <div class="sales-promotion-item-l pull-left">
                <img src="img/home/sales-promotion2.png" alt="">
            </div>
            <div class="sales-promotion-item-r pull-left">
                <img src="img/home/sales-promotion3.png" alt="">
            </div>
        </div>
    </div>
</ion-content>