<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    <div class="header-m">我的消息</div>
</ion-header-bar>

<ion-content>
    <a href="#/messageSystem">
        <div class="message-wrapper clearfix">
            <div class="message-icon pull-left">
                <span class="has-message"></span>
                <img src="img/home/message-system@2x.png" alt="">
            </div>
            <div class="pull-left">
                <div class="message-title color333">系统消息</div>
                <div class="message-reminder color999">你有一条系统消息</div>
            </div>
            <div class="message-time color999 pull-right">2016-5-6</div>
        </div>
    </a>

    <a href="#/messageNotice">
        <div class="message-wrapper clearfix">
            <div class="message-icon pull-left">
                <!-- <span class="has-message"></span> -->
                <img src="img/home/message-notice@2x.png" alt="">
            </div>
            <div class="pull-left">
                <div class="message-title color333">通知消息</div>
                <div class="message-reminder color999">暂无通知消息</div>
            </div>
            <div class="message-time color999 pull-right">2016-5-6</div>
        </div>
    </a>

    <a href="#/messageService">
        <div class="message-wrapper clearfix">
            <div class="message-icon pull-left">
                <!-- <span class="has-message"></span> -->
                <img src="img/home/message-service@2x.png" alt="">
            </div>
            <div class="pull-left">
                <div class="message-title color333">我的客服</div>
                <div class="message-reminder color999">暂无通知消息</div>
            </div>
            <div class="message-time color999 pull-right">2016-5-6</div>
        </div>
    </a>
</ion-content>