<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    <div class="header-m">通知消息</div>
</ion-header-bar>

<ion-content>
    <div class="container message-notice-detail">
        <div class="message-notice-detail-time color999">2016-5-6</div>

        <a href="#/coupon">
            <div class="message-notice-detail-content clearfix">
                <div class="message-notice-detail-icon pull-left">
                    <img src="img/home/sign-in-icon@2x.png" alt="">
                </div>
                <div class="pull-left color333">
                    <div class="message-ticket">您有一张XXX券，请及时使用</div>
                    <div class="message-ticket-expiry-date">有效期：7/28-7/30</div>
                </div>
            </div>
        </a>
    </div>

    <div class="container message-notice-detail">
        <div class="message-notice-detail-time color999">2016-5-6</div>

        <div class="message-notice-detail-content clearfix">
            <div class="message-notice-detail-icon pull-left">
                <img src="img/home/sign-in-icon@2x.png" alt="">
            </div>
            <div class="message-notice-signin pull-left color333">
                <div class="message-sign-in">累计签到3天，获取XX积分</div>
            </div>
        </div>
    </div>
</ion-content>