<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>

    <div class="header-m">系统消息</div>
</ion-header-bar>

<ion-content>
    <div class="container message-system-detail">
        <div class="message-system-detail-time color999">2016-5-6</div>

        <div class="message-system-detail-content">
            <div class="message-system-detail-content-title color333">12:30将有一场秒杀活动</div>
            <p class="message-system-detail-content-info color999">这是秒杀活动的具体描述信息这是秒杀活动的具体描述信息这是秒杀活动的具体描述信息</p>
        </div>
        <div class="view-message-system-detail clearfix">
            <div class="pull-left color999">前往查看</div>
            <div class="pull-right view-message-system-detail-triangle"></div>
        </div>
    </div>

    <div class="container message-system-detail">
        <div class="message-system-detail-time color999">2016-5-6</div>

        <div class="message-system-detail-content">
            <div class="message-system-detail-content-title color333">12:30将有一场秒杀活动</div>
            <p class="message-system-detail-content-info color999">这是秒杀活动的具体描述信息这是秒杀活动的具体描述信息这是秒杀活动的具体描述信息</p>
        </div>
        <div class="view-message-system-detail clearfix">
            <div class="pull-left color999">前往查看</div>
            <div class="pull-right view-message-system-detail-triangle"></div>
        </div>
    </div>
</ion-content>