<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <!-- <a class="back-arrow" ng-click="back()"><img src="img/home/back-arrow@2x.png"></a> -->
    
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>

    <div class="search-wrapper">
        <input type="text" class="search-input">
        <i class="search-icon"></i>
    </div>

    <a href="#/searchResult"><button class="button button-clear search-btn" style="color:#fff;">搜索</button></a>
</ion-header-bar>

<ion-content class="container">
    <div class="search">
        <div class="search-title">
            <div class="pull-left color333"><img src="img/home/search-history@2x.png" alt="">历史搜索</div>
            <div class="pull-right themecolor">清空搜索</div>
        </div>

        <div class="search-content clearfix">
            <div class="col-50 pull-left">
                <span class="search-history-item color999">点火线圈</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-history-item color999">汽车滤清器</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-history-item color999">变速换挡操纵杆总成</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-history-item color999">差速器盘角齿</span>
            </div>
        </div>
    </div>

    <div class="search">
        <div class="search-title">
            <div class="color333"><img src="img/home/search-hot@2x.png" alt="">热门搜索</div>
        </div>

        <div class="search-content clearfix">
            <div class="col-50 pull-left">
                <span class="search-hot-item color999">点火线圈</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-hot-item color999">汽车滤清器</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-hot-item color999">变速换挡操纵杆总成</span>
            </div>
            <div class="col-50 pull-left">
                <span class="search-hot-item color999">差速器盘角齿</span>
            </div>
        </div>
    </div>
</ion-content>