<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <div class="header-m">购物车</div>

    <div class="header-txt-r colorfff">编辑</div>
</ion-header-bar>

<ion-content>
    <section>
        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="pull-left checkbox-wrapper">
                    <input class="order-item-checkbox" type="checkbox">
                </div>

                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-right pull-left">
                    <div class="order-item-name themecolor singleLine-ellipsis">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>

        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="pull-left checkbox-wrapper">
                    <input class="order-item-checkbox" type="checkbox">
                </div>

                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-right pull-left">
                    <div class="order-item-name themecolor singleLine-ellipsis">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>

        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="pull-left checkbox-wrapper">
                    <input class="order-item-checkbox" type="checkbox">
                </div>

                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-right pull-left">
                    <div class="order-item-name themecolor singleLine-ellipsis">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>

        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="pull-left checkbox-wrapper">
                    <input class="order-item-checkbox" type="checkbox">
                </div>

                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-right pull-left">
                    <div class="order-item-name themecolor singleLine-ellipsis">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>

        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="pull-left checkbox-wrapper">
                    <input class="order-item-checkbox" type="checkbox">
                </div>

                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-right pull-left">
                    <div class="order-item-name themecolor singleLine-ellipsis">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>
    </section>

    <section>
        <div class="order-bottom clearfix">
            <div class="pull-left order-checked-all">
                <input class="order-item-checkbox" type="checkbox"><span style="color:#020202;font-size:0.3rem;">全选</span>
            </div>
            <div class="pull-left order-total clearfix">
                <div class="pull-left order-total-l">合计：</div>
                <div class="pull-left order-total-r">
                    <div class="integration-pos">
                        Pos积分:<span class="integration-num">300</span>
                    </div>
                    <div class="integration-extra">
                        eXtra积分:<span class="integration-num">300</span>
                    </div>
                </div>
            </div>
            <div class="pull-left order-settlement-btn themebgcolor">去结算</div>
        </div>
    </section>
</ion-content>