<ion-header-bar align-title="center" class='themebgcolor header-bar'>
    <a class="button icon-left ion-chevron-left button-clear back-arrow" ng-click="back()"></a>
    <div class="header-m">创建订单</div>
</ion-header-bar>

<ion-content>
    <div class="address-info container clearfix">
        <div class="pull-left address-icon-wrapper">
            <img class="address-icon" src="img/address-icon@2x.png" alt="">
        </div>
        <div class="pull-left address-content">
            <div class="clearfix">
                <div class="pull-left address-content-l">收货人：</div>
                <div class="pull-left address-content-r">某某某</div>
            </div>
            <div class="clearfix">
                <div class="pull-left address-content-l">联系号码：</div>
                <div class="pull-left address-content-r">2154545454545415</div>
            </div>
            <div class="clearfix">
                <div class="pull-left address-content-l">收货地址：</div>
                <div class="pull-left address-content-r">上海市某某某区某某某街道某某某小区某某某某某某某某</div>
            </div>
        </div>
        <div class="pull-right forward-icon-wrapper">
            <img class="forward-icon" src="img/forward-icon@2x.png" alt="">
        </div>
    </div>

    <section>
        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-r pull-left">
                    <div class="order-item-name themecolor">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>

        <div class="order-list">
            <div class="order-item-blank"></div>
            <div class="order-item container clearfix">
                <div class="order-item-l pull-left">
                    <img src="img/home/home-gifts-1@2x.png" alt="">
                </div>
                <div class="order-item-r pull-left">
                    <div class="order-item-name themecolor">商品名称：汽车车载空气净化器</div>
                    <div class="order-item-sort colo333">商品分类：汽保用品</div>
                    <div class="order-item-pos clearfix">
                        <div class="pull-left">
                            POS积分：<span style="font-size:0.36rem;">300</span>
                        </div>
                        <div class="pull-right themecolor">×1</div>
                    </div>
                </div>
            </div>
            <div class="order-item-blank"></div>
        </div>
    </section>


    <section>
        <div class="row container order-integration-item">
            <div class="col-50 ticket-integration">
                <img class="order-integration-item-icon" src="img/coupon-icon@2x.png" alt="">优惠券
            </div>
            <div class="col-50 txt-r">
                200积分抵扣券<img class="forward-icon" style="vertical-align:-0.06rem;" src="img/forward-icon@2x.png" alt="">
            </div>
        </div>

        <div class="row container order-integration-item">
            <div class="col-50 ticket-integration">
                <img class="order-integration-item-icon" src="img/coupon-icon@2x.png" alt=""><span style="color:#4e953d;">Pos</span>当前积分
            </div>
            <div class="col-50 txt-r">
                12345分
            </div>
        </div>

        <div class="row container order-integration-item">
            <div class="col-50 ticket-integration">
                <img class="order-integration-item-icon" src="img/coupon-icon@2x.png" alt=""><span style="color:#c36c4d;">eXtra</span>当前积分
            </div>
            <div class="col-50 txt-r">
                12345分
            </div>
        </div>
    </section>
</ion-content>

<ion-footer-bar>
    <div class="row">
        <div class="col-33 bgfff colorf00"><span style="font-size:0.36rem;">300</span>积分</div>
        <div class="col-33 bg-light-green colorfff">取消订单</div>
        <div class="col-33 themebgcolor colorfff">提交订单</div>
    </div>
</ion-footer-bar>